let mapleader      = ' '
let maplocalleader = ' '

" Use Vim settings, rather then Vi settings (much better!).
" " This must be first, because it changes other options as a side effect.
set nocompatible

" ================ Navigation========================
set mouse=c

" ================ Indentation ======================
set autoindent
set smartindent
set smarttab
set shiftwidth=2
set softtabstop=2
set tabstop=2
set expandtab

" ================ Search ===========================
set incsearch       " Find the next match as we type the search
set ignorecase      " Ignore case when searching...
set smartcase       " ...unless we type a capital

set number

syntax on             " Enable syntax highlighting
filetype on           " Enable filetype detection
filetype indent on    " Enable filetype-specific indenting
filetype plugin on    " Enable filetype-specific plugins

" ================ Turn Off Swap Files ==============
"
set noswapfile
set nobackup
set nowb

" Plugins
set surround
set multiple-cursors

" ================== Macros =========================
"
let @d='wved"_x"_xOmodule <Esc>pj^VG>Go<BS><CR>end<Esc>V<'

set visualbell
set noerrorbellsj
